body{
    background-color: gray;
    background-blend-mode: lighten;
}

.text{
    width: 40%;
    height: 400px;
    
}

#result-area{
    white-space: pre;
    font-family: Consolas,monaco,monospace;
}
